.todo-input-field{
    border: none;
    outline: none;
    
    background-color: rgb(253, 249, 249);;
}

.todo-input-button{
    border-radius: 50%;
    background-color: #3082ec;
    color: white;
    height: fit-content;
    padding: 2px;
}

.todo-input{
    border: 1px solid rgb(150, 147, 147);
    border-radius: 5px;
    margin: 10px;
    display: flex;
    justify-content:space-between;
    padding: 10px;
}

@media only screen and (min-width: 750px) {
    .todo-input-field{
        width: 600px;
    }
}


@media only screen and (max-width: 750px) {
    .todo-input-field{
        width: 250px;
    }
}

@media only screen and (max-width: 300px) {
    .todo-input-field{
        width: 150px;
    }
}
